/* Custom styles */
.card {
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.experience-card {
  padding-left: 20px;
  padding-top: 20px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.card-subtitle {
  color: #888;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.card-text {
  color: #333;
  margin-bottom: 15px;
}

.card-text li {
  /* list-style-type: none; */
  margin-bottom: 5px;
  line-height: 1.5;
}

.company-logo {
  width: 80px; /* Adjust the size of the logo */
  height: 80px; /* Adjust the size of the logo */
  position: absolute;
  top: 10px; /* Adjust the distance from the top */
  right: 10px; /* Adjust the distance from the right */
  border-radius: 50%; /* Optional: Rounded corners for the logo */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Adjust the shadow values as needed */
  margin: 20px;

}

/* old styles */

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  /* Add padding to the whole body */
}

.navbar {
  background-color: #f8f9fa;
}

.cursive {
  font-family: 'Cedarville Cursive';
  font-size: 32px;
}

.section-header {
  padding: 40px 0;
  /* background-color: #343a40; */
  /* color: white; */
  text-align: center;
  margin: 20px 0;
  /* Add margin to separate sections */
}

.introduction-section {
  padding: 60px 0;
  background-color: white;
  margin: 20px 0;
}

.introduction-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.introduction-image {
  flex: 1;
  max-width: 100%;
}

.introduction-description {
  flex: 3;
  padding: 20px;
  font-size: 18px;
}

.section-content {
  padding: 40px 0;
}


.blog-card {
  border: none;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 20px;
  padding: 20px;
}

.blog-card:hover {
  transform: translateY(-5px);
}

#no-color-link {
  text-decoration: none;
  /* Removes underline */
  color: inherit;
  /* Inherits the text color from the parent element */
}